body {
	font-family: 'Montserrat', sans-serif;
	background: #565656;
}

/* Menu stuff */
header .sidenav {
	background: #3c3c3c;
}

header .sidenav li {
	margin-left: 32px;
}

header .sidenav li.logo a {
	height: auto;
	margin-top: 28px;
	padding-right: 32px !important;
}

.sidenav li>a {
	padding: 0 !important;
}

.sidenav li.active a {
	color: #920015;
	background: #3c3c3c;
}

.sidenav a .site-logo {
	width: 100%;
}

.sidenav .search input {
	font-family: 'Montserrat', sans-serif;
	box-shadow: none !important;
	border: #565656;
}

.sidenav .search input:focus {
    border-top: 1px solid #d1001e !important;
    border-bottom: 1px solid #d1001e !important;
    box-shadow: none !important;
}

.sidenav .social {
	display: flex;
	justify-content: space-between;
	padding-right: 32px;
}

.sidenav .social i {
	transition: color 0.2s;
	color:#920015;
}

.sidenav .social i:hover {
	color:#d1001e;
}

.sidenav .search input {
	border-top: 1px solid #565656;
	border-bottom: 1px solid #565656;
	transition: border 0.2s;
}

.sidenav .search input:focus {
	border-top: 1px solid #26a69a;
	border-bottom: 1px solid #26a69a;
}

.sidenav .description {
	padding-right: 32px;
	padding-bottom: 16px;
	line-height: 24px;
	border-bottom: 1px solid #565656;
	font-weight: 400;
}

.sidenav-trigger {
	position: relative;
	left: 16px;
	top: 16px;
	transition: background 0.2s, color 0.2s;
	color: #920015;
}

.sidenav-trigger:hover {
	color: #d1001e;
}

.hidden-content {
	display: none;
}