body {
	font-family: 'Oswald', sans-serif;
}


/* Menu stuff */

.sidenav a.logo {
	font-size: 32px;
	font-weight: 400;
}

.sidenav .social {
	display: flex;
	justify-content: space-between;
	padding-left: 32px;
	padding-right: 32px;
}

.sidenav .social i {
	transition: background 0.2s, color 0.2s;	
}

.sidenav .social i:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.sidenav .description {
	padding-left: 32px;
	padding-right: 32px;
	line-height: 24px;
}

.sidenav-trigger {
	position: relative;
	left: 16px;
	top: 16px;
	transition: background 0.2s, color 0.2s;
}

.sidenav-trigger:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}


.hidden-content {
	display: none;
}