body {
	font-family: 'Oswald', sans-serif;
}


/* Menu stuff */

.sidenav a.logo {
	font-size: 32px;
	font-weight: 400;
}

.sidenav .social {
	display: flex;
	justify-content: space-between;
	padding-left: 32px;
	padding-right: 32px;
}

.sidenav .social i {
	transition: background 0.2s, color 0.2s;	
}

.sidenav .social i:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.sidenav .search input {
	border-top: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	margin-left: 32px;
}

.sidenav .search input:focus {
	border-top: 1px solid #26a69a;
	border-bottom: 1px solid #26a69a;
}

.sidenav .description {
	margin-left: 32px;
	padding-right: 32px;
	padding-bottom: 16px;
	line-height: 24px;
	border-bottom: 1px solid #9e9e9e;
	font-weight: 400;
}

.sidenav-trigger {
	position: relative;
	left: 16px;
	top: 16px;
	transition: background 0.2s, color 0.2s;
}

.sidenav-trigger:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}


.hidden-content {
	display: none;
}