html, body {
	font-family: 'Montserrat', sans-serif;
}

/***************************
* HEADER STYLES
***************************/
header {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	color: #000;
	opacity: 1;
}

	header .fixed-nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		background-color: #fff;
		box-shadow: 0px 3px 6px #00000029;
    	padding: 24px 18px;
	}

	header .logo {
	    display: inline-block;
	    vertical-align: top;
	    width: 30%;
	    height: 100%;
	}

	header .logo img{
		margin-right: 20px;
		margin-left: 10px;
		max-width: 344px;
	}

	header .menus {
   		display: inline-block;
	    vertical-align: top;
	    width: 69%;
	    text-align: right;
	}



	header #nav {
		display:block !important;
	}

#nav li {
	text-transform: uppercase;
	padding-left: 46px;
}


	header .menu a {
  		color: #000;
	}
	header .menu a:hover, .menu a:target {
  		color: #94000F;
	}

	header.menu .social a {
		color: #94000F;
	}
	header .menu .social a:hover, .menu .social a:target {
  		color: #000;
	}

	header .menu-items {
  		display: inline-block;
	}
		header .menu-items li {
			display: inline-block;
			margin-right: 10px;
			margin-left: 10px;
		}

		header .menu-items a {
			text-decoration: none;
		}





/***************************
* BODY STYLES
***************************/
.content {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 168px;
}

.content h2 {
	font-size: 30px;
	border-bottom: 1px solid #000000;
	text-align: center;
}

.content .banner {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.content .ctas {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
	.content .ctas div {
		flex: 1 0 21%;
		margin: 5px;
		height: 100px;
		background-color: blue;
	}

.testimonial {
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #000000;
}

.testimonial:last-child {
	border-bottom: none;
}

.testimonial h4 {
	font-weight: normal;
	font-size: 20px;
}




/***************************
* FOOTER STYLES
***************************/
footer {
	margin: 24px auto;
    width: 80%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-items, .footer-tiny-items {
	font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.footer-items {
	font-size: 20px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.footer-tiny-items {
	font-size: 12px;
}

.footer-items a, .footer-tiny-items a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.footer-items a:hover, .footer-tiny-items a:hover {
	color: #94000F;
}

