html, body, p, h1, h2, h3, h4, a, span {
	font-family: 'Montserrat', sans-serif;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: #000;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

a:hover {
	color: #94000F;
}

li.active a {
	color: #94000F;
}

/***************************
* HEADER STYLES
***************************/
header {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	color: #000;
	opacity: 1;
}

	header .fixed-nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		background-color: #fff;
		box-shadow: 0px 3px 6px #00000029;
    	padding: 24px 18px;
	}

	header .logo {
	    display: inline-block;
	    vertical-align: top;
	    width: 30%;
	    height: 100%;
	}

	header .logo img{
		margin-right: 20px;
		margin-left: 10px;
		max-width: 344px;
	}

	header .menus {
   		display: inline-block;
	    vertical-align: top;
	    width: 69%;
	    text-align: right;
	}



	header #nav {
		display:block !important;
	}

#nav li {
	text-transform: uppercase;
	padding-left: 46px;
}


	header .menu .social a {
  		color: #94000F;
	}
	header .menu .social a:hover, .menu .social a:target {
  		color: #000;
	}

	header .menu-items {
  		display: inline-block;
	}
		header .menu-items li {
			display: inline-block;
			margin-right: 10px;
			margin-left: 10px;
		}

		header .menu-items a {
			text-decoration: none;
		}

	#menu-toggle {
		display: none;
	}

	#mobile-logo {
		display: none;
	}


@media (max-width: 480px) {

	.fixed-nav-bar {
		display: none;
	}

	header .menu-items a {
		display: block;
	}

	#mobile-logo {
		display: block;
	}


	#menu-toggle {
		display: block;
		position: relative;
		top: 36px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	#menu-toggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: 84%;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	#menu-toggle span {
		display: block;
		width: 33px;
		height: 4px;
		right: -84%;
		margin-bottom: 5px;
		position: relative;
		background: #94000F;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
	}

	#menu-toggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menu-toggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	#menu-toggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menu-toggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menu-toggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#mobile-nav {
		position: absolute;
		width: 100%;
		margin: -100px 0 0 0;
		padding: 45px;
		padding-top: 45px;
		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(0, -100%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#mobile-nav li {
		padding: 10px 0;
		font-size: 22px;
	}

	#menu-toggle input:checked ~ ul {
		transform: none;
	}

	header .menu-items li {
		display: block;
	}
}





/***************************
* BODY STYLES
***************************/
.content {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 168px;
}

.content h2 {
	font-size: 30px;
	font-weight: 500;
	border-bottom: 1px solid #000000;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 24px;
    width: 80%;
}

.content .bang {
	font-size: 22px;
    text-align: center;
    line-height: 32px;
}

.content .soon {
	text-align: center;
}

.content .banner {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.content .ctas, .content .vertebrae {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

	.content .ctas a {
		flex: 1 0 21%;
		text-decoration: none;
	}

		.content .ctas a div {
			margin: 5px;
			height: 100px;
			background-repeat: no-repeat;
			background-position: right;
		}

			.content .ctas a span {
				position: relative;
				top: 70px;
				left: 20px;
				font-weight: 600;
				color: #fff;
			}

			.content .ctas a:hover span {
				color: #94000F;
			}

			.content .ctas a span {
				-o-transition:.5s;
				-ms-transition:.5s;
				-moz-transition:.5s;
				-webkit-transition:.5s;
			}

	.content .vertebrae div {
		flex: 1 0 21%;
		margin: 5px;
		border-right: 1px solid #000000;
	}

		.content .vertebrae div:last-child {
			border-right: none;
		}


.testimonial {
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #000000;
}

.testimonial:last-child {
	border-bottom: none;
}

.testimonial h3 {
	font-weight: normal;
	font-size: 20px;
	quotes: "“" "”";
}

.testimonial h3:before {
    content: open-quote;
}

.testimonial h3:after {
    content: close-quote;
}

.testimonial p {
	   font-size: 20px;
}

.event .flex-grid {
	display: flex;
	padding-top: 24px;
}

.event .col {
	flex: 1;
}
	.event .col.details {
		margin-left: 24px;
	}

	.event .col ul{
		list-style: none;
	}

	.event .col .social.single-items {
		text-align: auto !important;
	}

.scrap {
	text-align: center;
}

	.scrap img {
		max-width: 100%;
	}

.article-wrapper {
}

.article-wrapper article {
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding: 24px 0;
}

	.article-wrapper article:not(:last-child), article.testimonial:not(:last-child) {
		border-bottom: 1px solid #000000;
	}

.article-wrapper article div.date {
	align-self: flex-start;
	position: relative;
	padding: 45px 5px 0px;
}
	.date .day {
		font-size: 45px;
		line-height: 45px;
		position: absolute;
		left: 5px;
		top: 0px;
	}
	.date .month {
		text-transform: uppercase;
		font-size: 18px;
	}
	.date .year {
		display: block;
		position: absolute;
		right: -5px;
		top: 15px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		font-weight: 500;
	}

.article-wrapper article img{
  margin: 0 30px;
  max-width: 263px;
  object-fit: contain;
  flex: 1 1 auto;
}

.article-wrapper article div.info {
  flex: 1 1 auto;
}

.article-wrapper article div h3 {
	font-weight: 500;
}

article .single {
	width: 100%;
	padding-top: 24px;
}


article .testimonial {
	width: 70%;
	margin-left: auto;
	margin-right: auto;	
}

.article-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.information, .single-items {
	text-align: center;
}

.social.single-items {
	list-style: none;
}

.social.single-items li {
	display: inline-block;
}

.social.single-items li:not(:first-child) {
	margin-left: 10px;
}

.social.single-items li:not(:last-child) {
	margin-right: 10px;
}


.social.single-items a {
	text-decoration: none;
}

article ul.social.social-items {
	display: flex;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

article ul.social.social-items li {
	flex: 1 1 0px;
	text-align: center
}

article ul.social.social-items li a {
	color: #94000F;
}

article ul.social.social-items li a:hover {
	color: #000
}

.article-content img {
	width: 100%;
	height: auto;
}

@media (max-width: 480px) {

	.content {
		width: 90%;
		padding-top: 24px;
	}

	.article-wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.article-wrapper article img {
		margin: 0;
	}

	.article-wrapper article div.info {
		flex: 1 0 auto;
	}

	.content .ctas {
		display: block;
	}

    .content .ctas a {
    	flex: none;
    }

    .content .ctas a div {
    	background: 72%;
    	margin: 20px 5px 0 5px;
    }

	.content .bang {
    	font-size: 18px;
    	line-height: 28px;
	}
	.content h2 {
		width: auto;
		margin: 0;
		padding-top: 24px;
	}

	.article-wrapper article {
		display: block;
	}

	.article-wrapper article {
		text-align: center;
	}

	.article-wrapper article div.date {
		padding: 0;
		align-self: auto;
		font-weight: 500;
		margin-bottom: 20px;
		font-size: 18px;
	}

	.date .day {
		line-height: auto;
		position: relative;
		left: 0;
		top: 0;
		font-size: 18px;
	}

	.date .month {
		font-size: 18px;
	}

	.date .year {
		display: inline;
		position: relative;
		right: 0;
		top: 0;
		-webkit-transform: none;
		-moz-transform: none;
		font-size: 18px;
	}

	article {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.article-content {
		width: 100%;
		margin: 0;
	}

	.article-content img {
		width: 100%;
		height: auto;
	}

	.social.single-items a {
		color: #94000F;
	}

	article ul.social.social-items {
		width: 100%;
	}
}



/***************************
* PAGINATION STYLES
***************************/
.navigation {
	text-align: center;
}

.navigation li a, .navigation li a:hover, .navigation li.active a, .navigation li.disabled {
    text-decoration:none;
}
 
.navigation li {
    display: inline;
}
 
.navigation li a, .navigation li a:hover, .navigation li.active a, .navigation li.disabled {
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}

/***************************
* FOOTER STYLES
***************************/
footer {
	margin: 24px auto 24px auto;
    width: 80%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-items, .footer-tiny-items {
	font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.footer-items {
	font-size: 20px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.footer-tiny-items {
	font-size: 12px;
}

.footer-items a, .footer-tiny-items a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.footer-items a:hover, .footer-tiny-items a:hover {
	color: #94000F;
}

@media (max-width: 480px) {
	footer {
		width: 100%;
	}

	.footer-items, .footer-tiny-items {
		display: block;
		text-align: center
	}

	.footer-items li {
	    margin: 8px 0;
	}

	.footer-tiny-items li {
		margin: 4px 0;
	}

}

